{% if product.metafields.custom.gloves_size_advisor != blank %}
{% assign pole_button_style = settings.pole_button_style %}
  <div id="gloves-adviser-drawer" class="gloves-adviser-drawer" data-scroll-lock-scrollable>
    <div class="glove-close">
      {%- render 'icon-close' -%}
    </div>
  
    <div class="gloves-inner-wrap">
      <div class="gloves-main-wrap">
        {{ product.metafields.custom.gloves_size_advisor.value.content }}
      </div>
    </div>
  </div>
<div class="drawer_outer__overlay"></div>
{% endif %}