{% assign pole_button_style = settings.pole_button_style %}
<div id="pole-adviser-drawer" class="pole-adviser-drawer">
  <div class="pole-close">
    {%- render 'icon-close' -%}
  </div>
  <div class="pole-inner-wrap">
    <h3>{{ settings.title }}</h3>
    <span>{{ settings.subtitle }}</span>
    <form id="poleSizeAdvisorForm" method="post" action="#">
      <input type="number" class="form-control" id="height" name="height" step="1" min="75" max="230" placeholder="Height in cm" required>
      <input type="submit" class="btn {{ pole_button_style }}" value="{{ settings.pole_button_text }}">
      <div class="pole-information">    
        {%- render 'icon-info' -%}
        <span>You can adjust Vario-Poles to the exact length.</span>
      </div> 
    </form>
  </div>
</div>
