<div class="modal">
  <div class="modal-content">
    <div class="modal_inner">
      <p>
        This website uses cookies to ensure the best experience possible.
        <a href="javascript:void(0)" class="privacy-modal">More information...</a>
      </p>
      <div class="cookie_button">
        <button class="modal_ideas_btn">Manage Cookies</button>
        <button class="accept_btn">Accept All</button>
      </div>
    </div>
  </div>
</div>

<div class="modal_privacy">
  <div class="modal-content">
    <div class="modal_inner">
      <button class="close-button">close</button>
      <div class="privacy_text"></div>
    </div>
  </div>
</div>

<div class="modal_ideas">
  <div class="modal-content">
    <div class="modal_inner">
      <p>
        This website uses cookies to ensure the best experience possible.
        <a href="javascript:void(0)" class="privacy-modal">More information...</a>
      </p>
      <div class="offcanvas-cookie-list">
        <h3>Ideas</h3>
        <div class="offcanvas-cookie-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input offcanvas-cookie-parent-input"
              id="cookie_Technisch erforderlich"
              checked="checked"
              disabled="disabled"
              data-cookie-required="true"
            >
            <label for="cookie_Technisch erforderlich" class="custom-control-label"> Technically required </label>
          </div>

          <div class="offcanvas-cookie-entries">
            <span class="icon icon-arrow-head-right icon-sm">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <defs><path id="icons-default-arrow-head-right" d="m11.5 7.9142 10.2929 10.293c.3905.3904 1.0237.3904 1.4142 0 .3905-.3906.3905-1.0238 0-1.4143l-11-11c-.3905-.3905-1.0237-.3905-1.4142 0l-11 11c-.3905.3905-.3905 1.0237 0 1.4142.3905.3905 1.0237.3905 1.4142 0L11.5 7.9142z"></path></defs><use transform="rotate(90 11.5 12)" xlink:href="#icons-default-arrow-head-right" fill="#758CA3" fill-rule="evenodd"></use>
              </svg>
            </span>

            <p>Cookies required for the function of the shop:</p>
            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_session-"
                checked="checked"
                disabled="disabled"
                data-cookie-required="true"
                data-cookie="session-"
              >
              <label for="cookie_session-" class="custom-control-label">Meeting </label>
            </div>
            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_csrf["
                checked="checked"
                disabled="disabled"
                data-cookie-required="true"
                data-cookie="csrf["
              >
              <label for="cookie_csrf[" class="custom-control-label"> CSRF Protection</label>
            </div>
            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_timezone"
                checked="checked"
                disabled="disabled"
                data-cookie-required="true"
                data-cookie="timezone"
              >
              <label for="cookie_timezone" class="custom-control-label">Time Zone</label>
            </div>
          </div>
        </div>

        <div class="offcanvas-cookie-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input offcanvas-cookie-parent-input"
              id="cookie_Statistik"
            >
            <label for="cookie_Statistik" class="custom-control-label"> Statistics</label>
          </div>

          <div class="offcanvas-cookie-entries">
            <span class="icon icon-arrow-head-right icon-sm">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <defs><path id="icons-default-arrow-head-right" d="m11.5 7.9142 10.2929 10.293c.3905.3904 1.0237.3904 1.4142 0 .3905-.3906.3905-1.0238 0-1.4143l-11-11c-.3905-.3905-1.0237-.3905-1.4142 0l-11 11c-.3905.3905-.3905 1.0237 0 1.4142.3905.3905 1.0237.3905 1.4142 0L11.5 7.9142z"></path></defs><use transform="rotate(90 11.5 12)" xlink:href="#icons-default-arrow-head-right" fill="#758CA3" fill-rule="evenodd"></use>
              </svg>
            </span>

            <p>These cookies are used for statistics and shop performance metrics.</p>

            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_dtgsAllowGtmTracking"
                data-cookie="dtgsAllowGtmTracking"
                data-cookie-value="1"
                data-cookie-expiration="30"
              >
              <label for="cookie_dtgsAllowGtmTracking" class="custom-control-label">
                Buying and surfing behavior with Google Tag Manager
              </label>
            </div>
          </div>
        </div>

        <div class="offcanvas-cookie-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input offcanvas-cookie-parent-input"
              id="cookie_Drittanbieter Cookies"
            >
            <label for="cookie_Drittanbieter Cookies" class="custom-control-label">Third Party Cookies </label>
          </div>

          <div class="offcanvas-cookie-entries">
            <span class="icon icon-arrow-head-right icon-sm">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <defs><path id="icons-default-arrow-head-right" d="m11.5 7.9142 10.2929 10.293c.3905.3904 1.0237.3904 1.4142 0 .3905-.3906.3905-1.0238 0-1.4143l-11-11c-.3905-.3905-1.0237-.3905-1.4142 0l-11 11c-.3905.3905-.3905 1.0237 0 1.4142.3905.3905 1.0237.3905 1.4142 0L11.5 7.9142z"></path></defs><use transform="rotate(90 11.5 12)" xlink:href="#icons-default-arrow-head-right" fill="#758CA3" fill-rule="evenodd"></use>
              </svg>
            </span>

            <p></p>

            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_youtube-enabled"
                data-cookie="youtube-enabled"
                data-cookie-value="1"
                data-cookie-expiration="90"
              >
              <label for="cookie_youtube-enabled" class="custom-control-label"> YouTube Cookies</label>
              <p>This cookie is set by YouTube when playing corresponding videos.</p>
            </div>
            <div class="offcanvas-cookie-entry custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="cookie_photoslurp-enabled"
                data-cookie="photoslurp-enabled"
                data-cookie-value="1"
                data-cookie-expiration="90"
              >
              <label for="cookie_photoslurp-enabled" class="custom-control-label"> Photoslurp Cookie </label>
              <p>This cookie is required by Photoslurp for the Instagram feed.</p>
            </div>
          </div>
        </div>

        <div class="offcanvas-cookie-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input offcanvas-cookie-parent-input"
              id="cookie_neti-store-locator-google-consent"
              data-cookie="neti-store-locator-google-consent"
              data-cookie-value="available"
              data-cookie-expiration="30"
            >
            <label for="cookie_neti-store-locator-google-consent" class="custom-control-label">StoreLocator </label>
          </div>

          <div class="offcanvas-cookie-entries">
            <span class="icon icon-arrow-head-right icon-sm">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <defs><path id="icons-default-arrow-head-right" d="m11.5 7.9142 10.2929 10.293c.3905.3904 1.0237.3904 1.4142 0 .3905-.3906.3905-1.0238 0-1.4143l-11-11c-.3905-.3905-1.0237-.3905-1.4142 0l-11 11c-.3905.3905-.3905 1.0237 0 1.4142.3905.3905 1.0237.3905 1.4142 0L11.5 7.9142z"></path></defs><use transform="rotate(90 11.5 12)" xlink:href="#icons-default-arrow-head-right" fill="#758CA3" fill-rule="evenodd"></use>
              </svg>
            </span>

            <p>Allows Google Maps to load on this page</p>
          </div>
        </div>
      </div>
      <div class="cookie_button">
        <button class="accept_btn">Save on Computer</button>
        <button class="accept_btn">Accept All</button>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  getCookie('policy-cookie-set=true')
});
// modal js

var modal = document.querySelector(".modal");
var modal_privacy = document.querySelector(".modal_privacy");
var modal_ideas = document.querySelector(".modal_ideas");
var triggers = document.querySelectorAll(".cookie-modal");
var privacy_modal = document.querySelectorAll(".privacy-modal");
var modal_ideas_modal = document.querySelectorAll(".modal_ideas_btn");
var closeButton = document.querySelector(".close-button");
var set_cookie = document.querySelectorAll(".accept_btn");



function toggleModal() {
    modal.classList.toggle("show-modal");
    document.querySelector("body").classList.add("modal-open");
}

function privacyModal() {
    modal_privacy.classList.toggle("show-modal");
    modal_ideas.classList.remove("show-modal");
    document.querySelector("body").classList.add("modal-open");
    var page_privacy_url = "/policies/privacy-policy"
    fetch(page_privacy_url)
        .then((response) => response.text())
        .then((responseText) => {
            const get_text = '.page--privacy-policy .shopify-policy__body'
            const html = new DOMParser().parseFromString(responseText, "text/html");
            const destination = document.querySelector(".privacy_text");
            const source = html.querySelector(get_text);
            if (source && destination) destination.innerHTML = source.innerHTML;
        });
}

function WriteCookie() {
    var now = new Date();
    // var minutes = 1;
    now.setMonth(now.getMonth() + 1)
    // now.setTime(now.getTime() + (minutes * 60 * 1000));
    // console.log(now.setMonth( now.getMonth() + 1 ))
    document.cookie = 'policy-cookie-set= true;expires=' + now.toUTCString() + ';';
    document.querySelector("body").classList.remove("modal-open")
    modal.classList.remove("show-modal");
}

function getCookie() {
    let cookies = document.cookie;
    // console.log(cookies, cookies.includes('policy-cookie-set=true'));
    if (cookies.includes('policy-cookie-set=true')) {
        document.querySelector("body").classList.remove("modal-open")
        modal.classList.remove("show-modal");
        modal_ideas.classList.remove("show-modal");
    } else {
        modal.classList.add("show-modal");
        document.querySelector("body").classList.add("modal-open");
    }
}

function ideaModal() {
    modal_ideas.classList.toggle("show-modal");
    document.querySelector("body").classList.add("modal-open");
    getCookie('policy-cookie-set=true')
}

function selectsCheckbox() {
    var ele = document.querySelectorAll('.custom-control-input');
    for (var i = 0; i < ele.length; i++) {
        if (ele[i].type == 'checkbox')
            ele[i].checked = true;
    }
}


// function windowOnClick(event) {
//   if (event.target === modal) {
//     privacyModal();
//   }
// }

for (var i = 0, len = triggers.length; i < len; i++) {
    triggers[i].addEventListener("click", toggleModal);
}
for (var i = 0, len = privacy_modal.length; i < len; i++) {
    privacy_modal[i].addEventListener("click", privacyModal);
}
for (var i = 0, len = modal_ideas_modal.length; i < len; i++) {
    modal_ideas_modal[i].addEventListener("click", ideaModal);
}

closeButton.addEventListener("click", privacyModal);
set_cookie.forEach(function(postBox) {
    postBox.addEventListener('click', function() {
        WriteCookie();
        getCookie('policy-cookie-set=true');
        selectsCheckbox();
    })
})
//set_cookie.addEventListener("click", WriteCookie);
// window.addEventListener("click", windowOnClick);

var menu = document.getElementsByClassName("offcanvas-cookie-entries");
var i;
for (i = 0; i < menu.length; i++) {
    menu[i].onclick = function() {
        this.classList.toggle("offcanvas-cookie-entries--active");
        // this.nextElementSibling.classList.toggle("show");
    }
}
  console.log('out side call');
document.addEventListener("DOMContentLoaded", function(event) {
  if (Shopify.designMode) {
    document.querySelector("body").classList.remove("modal-open");
    var modal = document.querySelector(".modal");
    modal.classList.remove("show-modal");
  }
});
</script>

{% schema %}
{
  "name": "cookie-modal",
   "class": "Cookie-Modal",
  "settings": []
}
{% endschema %}
  