{%- comment -%}
  /sections/warranty-form.liquid
{%- endcomment -%}

<section
  id="WarrantyForm--{{ section.id }}"
  class="section-padding"
  data-section-type="warranty-form"
  data-section-id="{{ section.id }}">

  <div class="warranty-form-bg">
    <div class="warranty-form-wrapper">
      {{ section.settings.form_div }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Warranty request form",
  "class": "shopify-section--contact-form",
  "settings": [    
    {
      "type": "text",
      "id": "form_div",
      "label": "Add Form ID Div",
      "info": "Info : Copy from the app and add here, Ex: <div style='margin:0 auto;' class='pxFormGenerator' id='S8_WC9jXWK4PZbv8YYgaWA'></div>"
    }
  ],
  "presets": [
    {
      "name": "Warranty request form"
    }
  ]
}
{% endschema %}